<div>
    <h1>Curriculum</h1>
    <nav class="navbar navbar-dark bg-dark">
        <ul class="nav nav-pills">
            <li class="nav-item"><a class="nav-link" [routerLink]="['perfil']">Perfil Profesional</a></li>
            <!--<li class="nav-item"><a class="nav-link" [routerLink]="['destacados']">Libros Destacados</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['divisa']">Divisa</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['pasaje']">Pasaje</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['listarpasajes']">Listar Pasajes</a></li>-->
        </ul>
    </nav>
</div>